/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --font-main: "IBM Plex mono", sans-serif;
  --font-size: 18px;
  --hero-font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --hero-font-size-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);

  /* Тема по умолчанию — dark */
  --color-bg: #000028;
  --color-text: #f1b2ce;
  --color-text-decoreted: #ff0070;
  --color-text-menu: #ff0070;
  --cover-image: url("../images/cover-image-dark.png");
  --color-frames: #ff0070;
  --color-btn-hover: rgba(255, 0, 112, 0.4);
  --color-accent: #ff0070;
  --color-decor-secondary: #db00ff;
  --text-shadow-accent: 4px 4px 0 var(--color-accent);
  --box-shadow-accent: 0 0 4px 4px var(--color-accent);
}

.header__rec {
  display: block;
}
